@model IEnumerable<Game>


@{
    ViewData["Title"] = "Home Page";
}

@if (!Model.Any())
{
    <div class="alert alert-dismissible alert-secondary mt-5">
        <strong>No Games!</strong>
        <p>No games were added yet.</p>
    </div>
}
else
{
    <div class="row mt-5">

        @foreach(var game in Model)
        {
            <div class="col-lg-4 col-md-3">
                <div class="card border-primary mb-3" style="max-width: 20rem;">
                    <div class="card-body" style="
                        background-image: url(@($"{FileSettings.ImagesPath}/{game.Cover}"));
                        background-size: cover; background-position: center; height: 500px;">
                        <div class="h-100">
                            <span class="badge rounded-0 bg-info">@game.Category?.Name</span>
                        </div>
                    </div>

                    <div class="card-footer text-light d-flex justify-content-between align-items-center">
                        <h5>@game.Name</h5>
                        <div>
                            @foreach (var gameDevice in game.Devices)
                            {
                                <i class="@gameDevice.Device.Icon" me-2 fs-4></i>
                            }
                        </div>
                    </div>

                </div>
            </div>
        }

    </div>
}